{% extends "::base.html.twig" %}

{% block body %}
    <div class="row">
        <nav id="admin-navbar">
            <ul class="pager">
                <li><a href="{{ path('admin_homepage') }}">Accueil</a></li>
                <li><a href="{{ path('admin_carts_list') }}">Paniers non traités</a></li>
                <li><a href="{{ path('admin_being_treated_carts') }}">Paniers en cours de traitement</a></li>
                <li><a href="{{ path('admin_treated_carts') }}">Paniers traités</a></li>
                <li><a href="{{ path('admin_product_index') }}">Liste des produits</a></li>
                <li><a href="{{ path('admin_product_stock') }}">Liste des stocks</a></li>
            </ul>
        </nav>
    </div>

    <div class="container">

        {%  block admin_content %}
        {%  endblock %}
    </div>
{% endblock %}
