<li>
  <figure>
    {% if product.picture != null %}
      {% set image_element_home = asset('uploads/products/' ~ product.picture) %}
    {% else %}
      {% set image_element_home = asset('img/default-product.png') %}
    {% endif %}

    <a class="aa-product-img" href="{{ path("app_product_show", {id: product.id}) }}"><img style='height: 300px; width: 250px; object-fit: cover' src="{{ image_element_home }}" alt="{{ product.name }}"></a>
    <a class="aa-add-card-btn" href="{{ path('app_cart_add_product', {id: product.id, quantity: 1}) }}"><span class="fa fa-shopping-cart"></span>Ajouter au panier</a>
    <figcaption>
      <h4 class="aa-product-title"><a href="{{ path("app_product_show", {id: product.id}) }}">{{ product.name }}</a></h4>
      <span class="aa-product-price">{{ product.price }} €</span>
    </figcaption>
  </figure>
  <div class="aa-product-hvr-content">
    <a href="#" data-toggle2="tooltip" data-placement="top" title="Aperçu" data-toggle="modal" data-target=".modal-product-{{ product.id }}"><span class="fa fa-search"></span></a>
  </div>
  <!-- product badge -->
  {% if product.quantity <= 0 %}
    <span class="aa-badge aa-sold-out" href="#">Epuisé!</span>
  {% endif %}
</li>