{% extends "::base.html.twig" %}

{% block body %}
  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img src="{{ asset('img/product-header.png') }}" alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
        <div class="aa-catg-head-banner-content">
          <h2>{{ product.name }}</h2>
          <ol class="breadcrumb">
            <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
            <li><a href="{{ path("app_products_list", {type:product.category}) }}">{{ getCategoryLabel(product.category) }}</a></li>
            <li class="active">{{ product.name }}</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <!-- / catg header banner section -->

  <!-- product category -->
  <section id="aa-product-details">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <div class="aa-product-view-slider">
                    <div id="demo-1" class="simpleLens-gallery-container">
                      <div class="simpleLens-container">
                        <div class="simpleLens-big-image-container"><a data-lens-image="{{ asset('theme/img/view-slider/large/polo-shirt-1.png') }}" class="simpleLens-lens-image"><img src="{{ asset('theme/img/view-slider/medium/polo-shirt-1.png') }}" class="simpleLens-big-image"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content">
                    <h3>{{ product.name }}</h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">{{ product.price }} €</span>
                      {% if product.quantity <= 0 %}
                        <p class="aa-product-avilability">Disponibilité: <span>Epuisé</span></p>
                      {% else %}
                        <p class="aa-product-avilability">Disponibilité: <span>En stock</span></p>
                      {% endif %}
                    </div>
                    <div class="aa-prod-quantity">
                      <select id="product-quantity" name="product-quantity">
                        {% for i in 1..10 %}
                          <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                      </select>
                      <p class="aa-prod-category">
                        Catégorie: <a href="{{ path("app_products_list", {type:product.category}) }}">{{ getCategoryLabel(product.category) }}</a>
                      </p>
                    </div>
                    <div class="aa-prod-view-bottom">
                      <a id="add-to-cart" class="aa-add-to-cart-btn" href="#">Ajouter au panier</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <div class="row text-center">
                <h4>Description</h4>
              </div>

              <div class="row">
                  <p>{{ product.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </section>
  <!-- / product category -->
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript">
    $(function() {
      var pathAddToCart = "{{ path('app_cart_add_product', {id: product.id}) }}";

      $('#add-to-cart').on('click', function(e) {
        e.preventDefault();

        var quantity = $('#product-quantity').val();
        if(quantity > 0) {
          window.location.replace(pathAddToCart + "/" + quantity);
        }
        
      });
    });
  </script>
{% endblock %}