<!-- start single product item -->
<li>
  <figure>
    <a class="aa-product-img" href="{{ path("app_product_show", {id: product.id}) }}"><img src="http://lorempixel.com/250/300/cats" alt="polo shirt img"></a>
    <a class="aa-add-card-btn"href="{{ path('app_cart_add_product', {id: product.id, quantity: 1}) }}"><span class="fa fa-shopping-cart"></span>Ajouter au panier</a>
    <figcaption>
      <h4 class="aa-product-title"><a href="{{ path("app_product_show", {id: product.id}) }}">{{ product.name }}</a></h4>
      <span class="aa-product-price">{{ product.price €}}</span>
       <p class="aa-product-descrip">{{ product.description }}</p>
    </figcaption>
  </figure>                         
  <div class="aa-product-hvr-content">
    <a href="#" data-toggle="tooltip" data-placement="top" title="Add to Wishlist"><span class="fa fa-heart-o"></span></a>
    <a href="#" data-toggle2="tooltip" data-placement="top" title="Quick View" data-toggle="modal" data-target="#quick-view-modal"><span class="fa fa-search"></span></a>
  </div>
  <!-- product badge -->
  {% if product.quantity <= 0 %}
   <span class="aa-badge aa-sold-out" href="#">Epuisé!</span>
  {% endif %}
</li>
<!-- start single product item -->