{% extends "::base.html.twig" %}

{% block body %}
<section id="aa-product-category">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="aa-product-catg-content">
            <div class="aa-product-catg-head">
              <div class="aa-product-catg-head-left">
                <form action="" class="aa-sort-form">
                  <label for="">Sort by</label>
                  <select name="">
                    <option value="1" selected="Default">Default</option>
                    <option value="2">Name</option>
                    <option value="3">Price</option>
                    <option value="4">Date</option>
                  </select>
                </form>
                <form action="" class="aa-show-form">
                  <label for="">Show</label>
                  <select name="">
                    <option value="1" selected="12">12</option>
                    <option value="2">24</option>
                    <option value="3">36</option>
                  </select>
                </form>
              </div>
              <div class="aa-product-catg-head-right">
                <a id="grid-catg" href="#"><span class="fa fa-th"></span></a>
                <a id="list-catg" href="#"><span class="fa fa-list"></span></a>
              </div>
            </div>
            <div class="aa-product-catg-body">
              <ul class="aa-product-catg">

				{% for product in products %}
					{% include "AppBundle:App:productList.html.twig" %} 
				
			
					<!-- quick view modal -->                  
					<div class="modal fade" id="quick-view-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					 <div class="modal-dialog">
					  <div class="modal-content">                      
					    <div class="modal-body">
					    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					      <div class="row">
					        <!-- Modal view slider -->
					        <div class="col-md-6 col-sm-6 col-xs-12">                              
					          <div class="aa-product-view-slider">                                
					            <div class="simpleLens-gallery-container" id="demo-1">
					              <div class="simpleLens-container">
					                  <div class="simpleLens-big-image-container">
					                      <a class="simpleLens-lens-image" data-lens-image="img/view-slider/large/polo-shirt-1.png">
					                          <img src="img/view-slider/medium/polo-shirt-1.png" class="simpleLens-big-image">
					                      </a>
					                  </div>
					              </div>
					              <div class="simpleLens-thumbnails-container">
					                  <a href="#" class="simpleLens-thumbnail-wrapper"
					                     data-lens-image="img/view-slider/large/polo-shirt-1.png"
					                     data-big-image="img/view-slider/medium/polo-shirt-1.png">
					                      <img src="img/view-slider/thumbnail/polo-shirt-1.png">
					                  </a>
					              </div>
					            </div>
					          </div>
					        </div>
					        <!-- Modal view content -->
					        <div class="col-md-6 col-sm-6 col-xs-12">
					          <div class="aa-product-view-content">
					            <h3>{{ product.name }}</h3>
					            <div class="aa-price-block">
					              <span class="aa-product-view-price">{{ product.price }}</span>

					              {% if product.quantity <= 0 %}
					              	<p class="aa-product-avilability">Avilability: <span>Sold Out</span></p>
					              {% else %}
					              	<p class="aa-product-avilability">Avilability: <span>In stock</span></p>
					              {% endif %}

					            </div>
					            <p>{{ product.description }}</p>
					            <div class="aa-prod-quantity">
					              <form action="">
					                <select name="" id="">
					                  <option value="0" selected="1">1</option>
					                  <option value="1">2</option>
					                  <option value="2">3</option>
					                  <option value="3">4</option>
					                  <option value="4">5</option>
					                  <option value="5">6</option>
					                </select>
					              </form>
					              <p class="aa-prod-category">
					                Category: <a href="#">{{ product.category }}</a>
					              </p>
					            </div>
					            <div class="aa-prod-view-bottom">
					              <a href="#" class="aa-add-to-cart-btn"><span class="fa fa-shopping-cart"></span>Add To Cart</a>
					              <a href="{{ path("app_product_show", {id: product.id}) }}" class="aa-add-to-cart-btn">View Details</a>
					            </div>
					          </div>
					        </div>
					      </div>
					    </div>                        
					  </div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
					</div>
					<!-- / quick view modal -->   
				{% endfor %}
			  </ul>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</section>
{% endblock %}