{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_content %}
    <script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ asset('DataTables/media/css/jquery.dataTables.min.css') }}">
    <script src="{{ asset('DataTables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('js/csv.js') }}"></script>

    <h1>Liste des alertes</h1>



 <div class="row">
    <div class ="col-md-6">
        <h3>Quantité en stock inférieure au seuil minimal</h3>
        <table id ="stock" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Référence</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Alerte Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity }}</td>
                    <td>{{product.quantityAlert}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class ="col-md-6">
        <h3>Produits qui ont atteint la date de péremption</h3>
        <table id ="peremption" class="display" cellspacing="0" width="100%">
            <thead>
            <tr>
                <th>Id</th>
                <th>Référence</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Alerte Quantité</th>
            </tr>
            </thead>
            <tbody>
            {% for product in productsP %}
                <tr>
                    <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                    <td>{{ product.reference }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.quantity}}</td>
                    <td>{{ product.expirationDate | date('Y-m-d')}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

    <script type="text/javascript">
        $('#stock').DataTable({
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
    </script>
     <script type="text/javascript">
        $('#peremption').DataTable({
            "language": {
                "url": "{{ asset('DataTables/French.json') }}"
            }
        });
    </script>
{% endblock %}
