{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_content %}
    <h1>Modification</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="aa-browse-btn" type="submit" value="Modifier" />
    {{ form_end(edit_form) }}

    <ul>
        {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
        {% set path = currentPath|split('/') %}
            
        <li>
            {{ form_start(delete_form) }}
                {% if path[path|length-1] == "edit" %}
                    <br><input class="aa-browse-btn" type="submit" value="Supprimer">
                {% endif %}
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
