{% extends 'AdminBundle::layout.html.twig' %}

{% block admin_content %}
    <h1>Product</h1>

    <table class="table table-striped">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ product.reference }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Categorie</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Quantité</th>
                <td>{{ product.quantity }}</td>
            </tr>
            <tr>
                <th>Alerte quantité</th>
                <td>{{ product.quantityAlert }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Date d'expiration</th>
                <td>{% if product.expirationDate %}{{ product.expirationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Photo</th>
                {% if product.picture != null %}
                    {% set image_product = asset('uploads/products/' ~ product.picture) %}
                {% else %}
                    {% set image_product = asset('img/default-product.png') %}
                {% endif %}
                <td><img style='height: 300px; width: 250px; object-fit: cover' src="{{ image_product }}" alt="{{ product.name }}"/></td>
            </tr>
            <tr>
                <th>Visible</th>
                {% if product.visible == 1 %}
                    <td>Visible</td>
                {% else %}
                    <td>Non visible</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <br><a class="aa-browse-btn" href="{{ path('admin_product_edit', { 'id': product.id }) }}">Modifier</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <br><input class="aa-browse-btn" type="submit" value="Supprimer">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
