{% extends "::base.html.twig" %}

  {% block body %}
    <!-- catg header banner section -->
    <section id="aa-catg-head-banner">
      <img src="{{ asset('img/cart-header.png') }}" alt="fashion img">
      <div class="aa-catg-head-banner-area">
        <div class="container">
          <div class="aa-catg-head-banner-content">
            <h2>Panier</h2>
            <ol class="breadcrumb">
              <li><a href="{{ path('app_homepage') }}">Accueil</a></li>
              <li class="active">Panier</li>
            </ol>
          </div>
        </div>
      </div>
    </section>
    <!-- / catg header banner section -->

    <!-- Cart view section -->
    <section id="cart-view">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="cart-view-area">
              <div class="cart-view-table">
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                    <tr>
                      <th></th>
                      <th></th>
                      <th>Produit</th>
                      <th>Prix</th>
                      <th>Quantité</th>
                      <th>Total</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% set cartPrice = 0 %}
                    {% for cartProduct in cart.cartProducts %}
                      <tr>
                        {% set product = cartProduct.product %}
                        {% set quantity = cartProduct.quantity %}
                        {% set totalProductPrice = product.price * quantity %}
                        {% set cartPrice = cartPrice + totalProductPrice %}

                        <td><a class="remove" href="{{ path('app_cart_remove_product', {id: product.id}) }}"><fa class="fa fa-close"></fa></a></td>
                        <td><a href="{{ path('app_product_show', {id: product.id}) }}"><img src="http://lorempixel.com/250/300/cats" alt="img"></a></td>
                        <td><a class="aa-cart-title" href="{{ path('app_product_show', {id: product.id}) }}">{{ product.name }}</a></td>
                        <td>{{ product.price }} €</td>
                        <td>{{ quantity }}</td>
                        <td>{{ product.price * quantity}} €</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- Cart Total view -->
                <div class="cart-view-total">
                  <h4>Total du panier</h4>
                  <table class="aa-totals-table">
                    <tbody>
                    <tr>
                      <th>Total</th>
                      <td>{{ cartPrice }} €</td>
                    </tr>
                    </tbody>
                  </table>
                  <a href="{{ path('app_cart_save') }}" class="aa-cart-view-btn">Sauvegarder pour plus tard <i class="fa fa-floppy-o" aria-hidden="true"></i></a><a href="{{ path('app_cart_checkout') }}" class="aa-cart-view-btn">Procéder au paiement <i class="fa fa-shopping-basket" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Cart view section -->
  {% endblock %}