{% extends "::base.html.twig" %}

{% block body %}
    <h3>Panier</h3>

    <ul>
        {% set cartPrice = 0 %}
        {% for cartProduct in cart.cartProducts %}
            {% set product = cartProduct.product %}
            {% set quantity = cartProduct.quantity %}
            {% set totalProductPrice = product.price * quantity %}
            {% set cartPrice = cartPrice + totalProductPrice %}

            <li>{{ product.name }} | PRIX UNITAIRE : {{ product.price }}| x {{  quantity }} | PRIX TOTAL : {{ totalProductPrice }}</li>

        {% endfor %}
    </ul>

    <p><strong>TOTAL DU PANIER : </strong> {{ cartPrice }}</p>
{% endblock %}