{% extends "AdminBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Paniers validés{% endblock %}

{% block admin_content %}
    <div class="row">
        <h2>Liste des paniers validés</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Contenu du panier</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for cart in carts %}
                <tr>
                    <td>{{ cart.user.username }}</td>
                    <td>
                        <ul>
                            {% for cartProduct in cart.cartProducts %}
                                <li><a class="colored" href="{{ path('app_product_show', {id: cartProduct.product.id}) }}">{{ cartProduct.product.name  }}</a> x{{ cartProduct.quantity }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>{{ getStatusLabel(cart.status) }}</td>
                    <td>
                        <a class="aa-browse-btn" href="{{ path('admin_treat_cart',{id:cart.id}) }}">Traiter <i class="fa fa-check" aria-hidden="true"></i></a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}


